body {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: .8rem;
  line-height: 1.445;
  background-color: #e3d18a;
}

.container {
  padding: 1rem;
  margin: 0 auto;
  background-color: #f9f9f9;
}

.img-logo {
  width: 100%;
  height: auto;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
}

main {
  /* display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 30px; */
}

.list {
  padding: 0;
}

li {
  list-style-type: none;
}

.card {
  width: 45%;
  height: auto;
  box-shadow: 0 5px 10px 0 #a09e9d;
  background-color: rgb(217, 226, 243);
  transition: .3s;
  border-radius: 0 0 30px 30px;
}

.card:hover {
  box-shadow: 0 10px 20px 0 #a09e9d;
}

.title-h4 {
  margin: 10px 0;
}

.card p {
  margin-top: 0;
  margin-bottom: 10px;
}

.container {
  padding: 5px 15px;
  text-align: center;
  border-radius: 0 0 30px 30px;
}

.size-logo {
  width: 100%;
  height: auto;
}

/* 
.flex-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.summary, .footer {
  margin: 30px 0;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 0 10px 5px #c8c8c8;
}

.summary {
  height: auto;
} */

  /* 
  .main-scrolling {
    font-weight: bolder;
  }

  .under, .under1 {
    display: none;
  }

  .under > ul {
    font-weight: bold;
    display: flex;
    flex-flow: column wrap;
  }

  ul {
    list-style-type: none;
  }

  li:hover .under, .sub-li:hover .under1 {
    padding: 10px;
    font-weight: normal ;
    display: block;
  }

  .footer {
    margin-top: 20px;
    padding: 10px;
    height: auto;
    font-size: .8em;
    text-align: center;
  }


  .title-h1, .sub-title-h2, .sub-title-h3 {
    margin: 0;
  }

  .sub-title-h2 {
    color: cadetblue;
  }

  .sub-title-h3 {
    color: darkcyan;
  }

  .dt  {
    font-weight: bold;
  }

  .dd {
    margin-bottom: 10px;
  }

  a {
    color: black;
    text-decoration: none;
    opacity: 1;
  }

  a:hover {
    opacity: .5;
  }

  a:visited {
    color: #000;
  }

  .art-box {
    background-color: #e7e7e7;
  }

  li {
    margin: 0 10px;
  }

  .summary ul {
    width: auto;
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    padding-left: 5px;
  }

  #img-internet {
    display: none;
  }

  @media screen and (max-width: 600px) {
    .summary ul {
      display: flex;
      flex-flow: column;
      line-height: 2;
    }
  }

  @media screen and (min-width: 768px) {
    #img-internet {
      margin: 30px auto;
      width: 500px;
      height: auto;
      display: block;
    }

    .section {
      display: grid;
    }
  } */