@import url(../site/reset-all-css.css);

/* --- Variables globales --- */
:root {
  --fontSzMain: .9rem;
  --colorBreadCrump: #949494;
  --colorBreadCrumpHover : #cfcfcf;
  --colorBreadCrumpActive : #ebecec;
  --colorAnchor: #747474;
  --bgcHeader: #0a0a0a;
  --bgcFooter: #272727;
  --bgcCard: #f2f7f8;
}

html {
  background-color: #353535;
}

.container {
  width: 100%;
  margin: 0 auto;
}

/* Titre */
.title-h1 {
  color: #0a3c52;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 1.7em;
}

.title-h2 {
  color: #1f4758;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 1.2em;
}

.title-h3 {
  color: #4d7c91;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 1em;
}
/* --- */

.txt-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 25px;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.bgc-header {
  top: 0;
}

.bgc-header {
  width: inherit;
  position: fixed;
  background-color: var(--bgcHeader);
  box-shadow: 0 5px 20px 5px #242424;
}

.bgc-footer {
  padding: 2em 0;
  color: #fff;
  font-size: .9em;
  font-weight: bold;
  text-align: center;
  background-color: var(--bgcFooter);
}

.bgc-main {
  background-color: rgb(218, 216, 216);
}

.bgc-main > section {
  margin-top: 40%;
}

.nav-summary {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-summary a {
  padding: 0px;
}

.margin-content {
  padding: 5em .5em;
}

.card {
  width: 100%;
  height: auto;
  margin: .2em auto;
  padding: 2em 1em;
  background-color: var(--bgcCard);
  box-shadow: 0 0 15px 8px #49494959;
  border-radius: .8em;
}

/* Code */
.code-block {
  width: fit-content;
  margin: 15px 0;
  padding: 8px;
  background-color: rgb(24, 24, 24);
  color:  rgb(235, 235, 235);
  font-size: .9em;
}

.code-yellow {
  color: #eeba11;
}

.code-blue {
  color: #789be9;
}

/* BreadCrump */
.breadcrumb {
  padding: 2.5%;
}

li {
  padding: 10px;
}

.breadcrumb li {
  padding: 5px;
  font-weight: bold;
  color: var(--colorBreadCrump);
  transition: .3s;
}

.breadcrumb li:hover {
  transform: translateX(-5px);
}

.breadcrumb a:hover {
  text-decoration: none;
  color: var(--colorBreadCrumpHover);
}

.breadcrumb-divider:after {
  content: "/";
  padding: 0 .5em ;
}

.breadcrumb .active {
  font-weight: bold;
  color: var(--colorBreadCrumpActive);
}

.breadcrumb .active:hover {
  transform: none;
}
/* --- */

.returnSummary {
  width: fit-content;
  border-radius: 5px;
  background: #ece0c3;
  border: 1px solid #bead85;
  padding: 8px;
  font-size: .8em;
  font-weight: bold;
}

.returnSummary a:hover {
  text-decoration: none;
  color: #3a3939;
}

@media screen and (min-width: 800px) {
  .breadcrumb {
    display: flex;
  }
 
  .flex-end {
    display: flex;
    justify-content: center;
  }
  
  .breadcrumb li:hover {
    transform: translateY(-5px);
  }
  .breadcrumb .active:hover {
    transform: none;
  }

  .title-h1 {
    margin: 0;
    font-size: 2em;
  }

  .title-h2 {
    color: #043862;
    margin: 25px 0 10px 0 ;
    font-size: 1.2em;
  }

  .title-h3 {
    color: #4595d6;
    margin: 15px 0 10px 0 ;
    font-size: 1em;
  }

  .container {
    /* width: 80%; */
  }

  .bgc-header {
    box-shadow: none;
  }

  body {
    font-size: 1.2rem;
  }

  .bgc-main > section {
    margin-top: 15%;
  }
}