@import url(../site/reset-all-css.css);

/* --- Variables globales --- */
:root {
  --fontSzMain: .9rem;
  --colorBreadCrump: #949494;
  --colorBreadCrumpHover : #cfcfcf;
  --colorBreadCrumpActive : #ebecec;
  --colorAnchor: #353535;
  --bgcHeader: #0a0a0a;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.header-nav {
  display: flex;
  justify-content: flex-end;
}

/* Titre */
.title-h1 {
  font-size: 1.5em;
}
/* --- */

.bgc-header {
  background-color: var(--bgcHeader);
  box-shadow: 0 2px 8px 0px #afafaf59;
}

main {
  display: flex;
}

.summary-section {
  margin: 1em;
  width: 50%;
}

.nav-summary {
  display: flex;
  flex-flow: column wrap;
}

/* BreadCrump */
.breadcrumb {
  padding: 1%;
}

.breadcrumb li {
  font-weight: bold;
  color: var(--colorBreadCrump);
  padding: 5px;
  transition: .3s;
}

.breadcrumb li:hover {
  transform: translateX(-5px);
}

.breadcrumb a:hover {
  text-decoration: none;
  color: var(--colorBreadCrumpHover);
}

.breadcrumb-divider:after {
  content: "/";
  padding: 0 .5em ;
}

.breadcrumb .active {
  /* margin-left: 5px; */
  font-weight: bold;
  color: var(--colorBreadCrumpActive);
}
/* --- */